#blog {

    .embed-container {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
        @include xxs{
            padding-bottom: 300%;
        }
        @include xs{
            padding-bottom: 300%;
        }
        @include sm{
            padding-bottom: 300%;
        }
        @include md{
            padding-bottom: 300%;
        }
    }

    .embed-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }  
}

.blogger {
    visibility: hidden !important;
}