@import '_variables.scss';


#contacto{
    .titleContacto{
        font-family: $helveticaLight;
        text-transform: uppercase;
        font-weight: bold;
        color: $BrisasdelRio-1-hex;
        text-align: center;
    }
     .enlace{
         font-weight: bold;
         color: $BrisasdelRio-3-hex;
     }


     .btn_1 {
         font-family: $fontDin;
         font-weight: bold;
         background-color: $BrisasdelRio-1-hex;
         color: $colorText_white;
         &:hover{
             background-color: $BrisasdelRio-2-hex;
         }
     }
  
}