@import '_variables.scss';


#condominio {
    .titleCondominio {
        font-family: $helveticaLight;
        text-transform: uppercase;
        font-weight: bold;
        color: $BrisasdelRio-1-hex;
        text-align: center;
    }

    .emphatic {
        color: $BrisasdelRio-3-hex;
        font-weight: bold;
    }

    .list-group-item {
        padding: .8vh 1vw !important;
        background-color: $background_1;
        border: none;
    }

    .pillsCondominio {
        font-size: $h3;
        color: $BrisasdelRio-3-hex;
        padding-right: 1vw;
    }

    .btn_1 {
        font-family: $fontDin;
        font-weight: bold;
        background-color: $BrisasdelRio-3-hex;
        color: $colorText_white;

        &:hover {
            background-color: $BrisasdelRio-4-hex;
        }
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: $colorText_white;
        background-color: $BrisasdelRio-1-hex;
    }

    .colorText {
        color: $BrisasdelRio-1-hex;
    }

    @mixin icosEspacio ($iconPosition) {
        width: 64px;
        height: 64px;
        background: transparent url("../../dist/img/icos/spriteIcosEspaciosBrisasdelRio.png");
        background-position: $iconPosition;
        float: left;
    }

    #icon1 {
        @include icosEspacio(0px 0px);
    }

    #icon2 {
        @include icosEspacio(0px -64px);
    }

    #icon3 {
        @include icosEspacio(0px -64*2px);
    }

    #icon4 {
        @include icosEspacio(0px -64*3px);
    }

    #icon5 {
        @include icosEspacio(0px -64*4px);
    }

    #icon6 {
        @include icosEspacio(0px -64*5px);
    }
}