@import '_variables.scss';

#lotes {
    .titleMap {   
        margin: 0 auto;
        width: 40%;
        @include xxs{
            width: 100%
        }
        @include xs{
            width: 100%
        }
        @include sm{
            width: 100%
        }
    }

    .st0 {
        opacity: 0.8;
    }

    .st1 {
        stroke: #000000;
        stroke-miterlimit: 10;
    }

    .st2 {
        opacity: 0.6;
        stroke: $BrisasdelRio-3-hex;
        stroke-width: 1;
        stroke-miterlimit: 10;


    }

    .st3 {
        fill: #EEEEEE;

        &:hover,
        &:active {
            fill: $BrisasdelRio-1-hex;
        }

        cursor: pointer;
    }


    .card-title {
        font-family: $helveticaLight;
        color: $BrisasdelRio-1-hex;
        font-weight: bold;
        text-align: center;
    }

    .titleInformation {
        font-weight: bold;
        color: $BrisasdelRio-1-hex;
        font-size: $h3;
        text-align: center;
    }

    .textinformation {
        color: $colorText_black;
        font-size: $h3;
        text-align: center;
    }

    .textInit {
        font-family: $helveticaLight;
        color: $BrisasdelRio-1-hex;
        font-weight: bold;
        text-align: center;
        font-size: $h2;
    }

    #backgroundLotes {
        height: auto;
        position: absolute;
        width: 100%;
        z-index: -10;
        opacity: 1;

        @media only screen and (min-width: 1024px) {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .btn_1 {
        margin-top: 2vh;
        font-family: $fontDin;
        font-weight: bold;
        background-color: $BrisasdelRio-3-hex;
        color: $colorText_white;

        &:hover {
            background-color: $BrisasdelRio-4-hex;
        }
    }


}