@import '_variables.scss';

body {
    margin: 0;
    padding: 0;
    background-color: $background_1 !important;
    font-family: $helveticaLight !important;
}

// header
.navbar-toggler{
    background-color: $BrisasdelRio-1-hex !important;
    .iconMenu{
        color: $colorText_white;
    }
    &:hover{
        background-color: $BrisasdelRio-2-hex;
    }
}

.menu {
    color: $BrisasdelRio-1-hex;
    font-family: $fontDin !important;    
    font-size: $h2;
    &:hover {
        color: $BrisasdelRio-2-hex;
    }

}


.hvr-underline-from-center:before {
    background-color: $BrisasdelRio-2-hex !important;
}

.hvr-reveal:before {
    border-color: $BrisasdelRio-2-hex !important;
}

// main
.containerNav {
    @include lg{
        padding: 0vh 5vw !important;
    }
    @include xl{
        padding: 0vh 7vw !important;
    }
    @include xxl{
        padding: 0vh 19vw !important;
    }

}

.title-1 {
    font-family: $helveticaLight;
    color: $BrisasdelRio-1-hex;
    font-weight: bold;
}

header {
    .carousel-caption {
        width: 45vw;
        padding: 7vh 2vw;
        position: absolute;
        right: 27%;
        bottom: 20vh;
        left: 27%;
        z-index: 10;
        color: #fff;
        text-align: center;
        background-color: $BrisasdelRio-6-rgba;      
        h5{
            font-family: $helveticaLight;
            font-size: $h1+.5;
            font-weight: bold;
        }
        @include lg{      
            padding: 3vh 5vw;
            bottom: 6vh;
        }
        @include xl{      
            padding: 7vh 5vw;
            bottom: 10vh;
        }           
    }   
    .btn-2{
        font-family: $fontDin;
        font-weight: bold;
        color: $BrisasdelRio-1-hex;
        background-color: $BrisasdelRio-5-hex;
        &:hover{
                 color: $BrisasdelRio-5-hex;
                 background-color: $BrisasdelRio-2-hex;
        }
    }
}

// footer
footer {
    background-color: $BrisasdelRio-1-hex;
    z-index: 10;

    .title-footer {
        color: $colorText_white;
    }

    .enlace {
        color: $BrisasdelRio-3-hex !important;
        text-decoration: none !important;
        font-weight: bold;
    }

    .google-maps {
        position: relative;
        padding-bottom: 50%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }

    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

    .containerTextFooter {
        text-align: center !important;

        @include xxs {
            position: relative;
            top: 5vh;
        }

        @include xs {
            position: relative;
            top: 5vh;
        }

        @include sm {
            position: relative;
            top: 5vh;
        }

        @include md {
            position: relative;
            top: 5vh;
        }

        @include lg {
            position: relative;
            top: 10vh;
        }

        @include xl {
            position: relative;
            top: 10vh;
        }

        @include xxl {
            position: relative;
            top: 10vh;
        }
    }

    .copyright {
        a {
            font-size: $h4 - .1;
            
            color: $colorText_white;

            &:hover {
                color: $BrisasdelRio-3-hex;
            }
        }
    }
}




.background_incio{
    background-image: url('../../dist/img/backgroundInicio.png')
}