// Color
@import "palette.scss";
@import "animated.scss";

$colorText_black: paletteText(white);
$colorText_white: paletteText(black);

$background_1: #F7F7F7;


/* Color Theme Swatches in Hex */
$BrisasdelRio-1-hex: #2D7C7D;
$BrisasdelRio-2-hex: #1D5152;
$BrisasdelRio-3-hex: #90AD34;
$BrisasdelRio-4-hex: #5E7022;
$BrisasdelRio-5-hex: #F7F7F7;

/* Color Theme Swatches in RGBA */
$BrisasdelRio-1-rgba: rgba(45, 124, 125, 1);
$BrisasdelRio-2-rgba: rgba(29, 81, 82, 1);
$BrisasdelRio-3-rgba: rgba(144, 173, 52, 1);
$BrisasdelRio-4-rgba: rgba(94, 112, 34, 1);
$BrisasdelRio-5-rgba: rgba(247, 247, 247, 1);
$BrisasdelRio-6-rgba: rgba(45, 124, 125, 0.5);

/* Color Theme Swatches in HSLA */
$BrisasdelRio-1-hsla: hsla(180, 47, 33, 1);
$BrisasdelRio-2-hsla: hsla(181, 47, 21, 1);
$BrisasdelRio-3-hsla: hsla(74, 53, 44, 1);
$BrisasdelRio-4-hsla: hsla(73, 53, 28, 1);
$BrisasdelRio-5-hsla: hsla(0, 0, 96, 1);

// fonts

@font-face {
    font-family: Din;
    src: url('../../font/din.ttf');
    font-weight: normal;
}

@font-face {
    font-family: HelveticaLight;
    src: url('../../font/HelveticaLight.ttf');
    font-weight: lighter;
}

$fontDin: Din;
$helveticaLight: HelveticaLight;

//tamaños letras
$h1: 2em;
$h2: 1.5em;
$h3: 1em;
$h4: 0.8em;
$p: 0.5em;

//mediaqueries
// mobile_S
$media-xxs: "(max-width: 320px)";
// mobile_M
$media-xs: "(min-width: 321px) and (max-width: 375px)";
// mobile_L
$media-sm: "(min-width: 376px) and (max-width: 425px)";
// Tablet
$media-md: "(min-width: 426px) and (max-width: 768px)";
// Latop
$media-lg: "(min-width: 769px) and (max-width: 1024px)";
// Desktop
$media-xl: "(min-width: 1025px) and (max-width: 1440px)";
// Desktop_L
$media-xxl: "(min-width: 1441px)";